<% var title = 'Pictionnary - Deviner' %>
<% include head %>
    <script>  

        var size, color;  

        var x0, y0;  

        var drawingCommands = <%- commandes %>;  
		var reponse = "<%- reponse %>";  
  
        window.onload = function() 
		{  
            var canvas = document.getElementById('myCanvas');  
            canvas.width = 400;  
            canvas.height= 400;  
            var context = canvas.getContext('2d');  
  
            var start = function(c) 
			{  
				size =  c.size;
				color = c.color;
				y0 = c.y;
				x0 = c.x;
				context.beginPath();
				context.fillStyle = color;
				context.arc(x0, y0, size / 2, 0, 2 * Math.PI);
				context.fill();
				context.closePath();
            }  
  
            var draw = function(c) 
			{  
				y0 = c.y;
				x0 = c.x;
				context.beginPath();
				context.fillStyle = color;
				context.arc(x0, y0, size /2, 0, 2 * Math.PI);
				context.fill();
				context.closePath();		
            }  
  
            var clear = function() 
			{  
				context.clearRect(0, 0, canvas.width, canvas.height);
            }  
  
            var i = 0;  
            var iterate = function() 
			{  
                if(i>=drawingCommands.length)  
				{
                    return;  
				}
                var c = drawingCommands[i];  
                switch(c.command) 
				{  
                    case "start":  
                        start(c);  
                        break;  
                    case "draw":  
                        draw(c);  
                        break;  
                    case "clear":  
                        clear();  
                        break;  
                    default:  
                        console.error(c.command);  
                }  
                i++;  
                setTimeout(iterate,10);  
            };  
  
            iterate();  
        };   
		
		function verify() {
		
			if(reponse == document.getElementById("reponse").value) {
				alert("Bravo!");
			} else {
				document.getElementById("reponse").value = "";
			}
		}
		
		
    </script>  
</head>  

<div style="width: 400px">
    <canvas style="border:2px solid #000000;" id="myCanvas"></canvas>
	<div style="margin: 1em;max-width: 500px;" class="panel panel-default">
    <div class="panel-heading">Votre réponse</div>
	
    <div class="panel-body">

        <input type="text" name="reponse" class="form-control" id="reponse" required>
		<a class="btn btn-primary" href="/guess">Changer</a>
		<input id="valider" class="btn btn-primary" type="button" value="Valider" onclick="verify();" />
    </div>
</div>

 
<% include foot %>